@use "./reset";
@use "./var" as *;

// フォント
* {
  font-feature-settings: "palt";
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: $colorText;
}

main {
  position: relative;
}

/* ===============================================
     aタグ
  =============================================== */
a {
  cursor: pointer;
  text-decoration: none;
}

/* ===============================================
     セクション
  =============================================== */

/* ===============================================
     セクションタイトル
  =============================================== */

/* ===============================================
     ページタイトル
  =============================================== */

/* ===============================================
       ボタン
  =============================================== */

/* ===============================================
       改行
  =============================================== */
/* ===============================================
   *  デバイスサイズに応じた表示切り替え
  =============================================== */
.pcOnly {
  @media screen and (max-width: $tabletBreakPoint) {
    display: none;
  }
}

.spOnly {
  @media screen and (min-width: $tabletBreakPoint) {
    display: none;
  }
}

/* ===============================================
       グローバルナビゲーション
  =============================================== */
