@use "./reset";
@use "./var" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: white;
  padding-block: 20px;
  padding-inline: 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $tabletBreakPoint) {
    padding-inline: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 48px;

    @media screen and (max-width: $tabletBreakPoint) {
      height: 40px;
    }

    @media screen and (max-width: $spBreakPoint) {
      height: 32px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        display: inline-block;
        height: fit-content;
        a {
          line-height: 1;
          font-size: 16px;
          font-weight: 600;
          color: $colorText;
        }
      }
    }
  }
}
