/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; /* box-sizingを追加すると便利です */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------------------- */
/* --- フォーム要素のリセットCSS --- */
/* ----------------------------------- */

input,
button,
textarea,
select {
  // -webkit-appearance: none; /* Safari, Chromeなどのベンダープレフィックス */
  // -moz-appearance: none; /* Firefox */
  // appearance: none;
  // background-color: transparent;
  // border: none;
  // border-radius: 0;
  // font-family: inherit;
  // font-size: inherit;
  // line-height: inherit;
  // color: inherit;
  // padding: 0;
  // margin: 0;
}

/* buttonとinput[type="button"]などにカーソルをポインターに */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

/* iOSでの内側の影を削除 */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  -webkit-appearance: none;
}

/* selectの矢印を非表示にする（基本的なリセット） */
select::-ms-expand {
  /* IE */
  display: none;
}

/* textareaのリサイズを無効化（必要に応じて縦(vertical)や横(horizontal)に設定） */
textarea {
  resize: none;
}
