@use "../reset";
@use "../var" as *;

.first-view {
  height: 100lvh;
  width: 100%;
  background: url(assets/images/front/first-view.webp) no-repeat center center / cover;

  @media screen and (max-width: $tabletBreakPoint) {
    margin-top: 88px;
    height: auto;
    aspect-ratio: 4/3;
  }

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
    padding-left: 40px;

    @media screen and (max-width: $tabletBreakPoint) {
      justify-content: center;
      align-items: center;
      padding-bottom: 0px;
      padding-left: 0;
    }
  }

  &__title {
    display: inline-block;
    font-size: clamp(24px, 6vw, 64px);
    font-weight: 600;
    line-height: 1.4;
    color: white;
  }
}

.introduction {
  position: relative;
  background: $colorGreenPastelLight;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;

      @media screen and (max-width: $tabletBreakPoint) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: calc(100% - (100% - 960px) / 2);
    margin-left: auto;
    padding-top: 80px;
    padding-left: 20px;
    display: flex;
    align-items: end;
    gap: 40px;

    @media screen and (max-width: $tabletBreakPoint) {
      max-width: 100%;
      padding-top: 20px;
      padding-right: 20px;
      flex-direction: column-reverse;
      align-items: start;
    }

    .introduction__text-area {
      flex-shrink: 0;
      margin-bottom: 80px;

      .section-title {
        margin-bottom: 24px;
      }

      .introduction__text {
        margin-bottom: 40px;
      }
    }

    .button {
      margin-top: 24px;
    }

    .introduction__image-area {
      aspect-ratio: 775/522;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.therapists {
  padding-block: 80px;
  padding-inline: 20px;

  &__inner {
    width: 100%;
    max-width: 960px;
    margin-inline: auto;

    .therapists__every-shop {
      margin-top: 40px;

      &:last-child {
        margin-top: 160px;
      }

      .therapists__list {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 64px;

        .therapist {
          display: flex;
          align-items: stretch;
          border: 1px solid $colorGreenPastel;
          border-radius: 12px;
          overflow: hidden;
          background: $colorGreenPastelLight;

          @media screen and (max-width: $tabletBreakPoint) {
            flex-direction: column;
            align-items: center;
          }

          &__image {
            flex-shrink: 0;
            height: auto;
            width: 400px;
            aspect-ratio: 400/500;
            background: #ddd;

            @media screen and (max-width: $tabletBreakPoint) {
              aspect-ratio: 16/9;
              width: 100%;
            }

            img {
              width: 100%;
              height: auto;
              object-fit: cover;

              @media screen and (max-width: $tabletBreakPoint) {
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
              }
            }
          }

          &__content {
            padding-inline: 24px;
            padding-block: 24px;

            @media screen and (max-width: $tabletBreakPoint) {
              padding-inline: 12px;
              padding-block: 12px;
            }

            .therapist__name-area {
              display: flex;
              align-items: center;
              gap: 12px;

              .therapist__work-at {
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                padding: 4px 8px;
                background: $colorGreenPastel;
                font-size: 18px;
                font-weight: 600;
                color: white;
                transform: translateY(2px);
              }
            }

            .therapist {
              &__name {
                font-size: 32px;
                font-weight: 600;
                color: $colorText;
              }

              &__separator {
                margin-block: 12px 16px;
                width: 80%;
                height: 1px;
                background: $colorGreenPastel;
              }

              &__introduction {
                font-size: 16px;
                color: $colorText;
              }

              &__details-title {
                margin-top: 24px;
                font-size: 16px;
                font-weight: 600;
                color: $colorGreenPastel;
              }

              &__details-content {
                color: $colorText;
              }
            }

            .button {
              margin-top: 24px;

              @media screen and (max-width: $tabletBreakPoint) {
                margin-top: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.customers-voice {
  padding-block: 80px;
  padding-inline: 20px;

  &__inner {
    width: 100%;
    max-width: 960px;
    margin-inline: auto;

    .customers-voice__list {
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: $tabletBreakPoint) {
        flex-direction: column;
      }

      .customers-voice__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        @media screen and (max-width: $tabletBreakPoint) {
          align-items: start;
        }

        &__name {
          opacity: 0.5;
        }

        &__stars {
          color: $colorGreenPastel;
        }

        &__text {
          font-size: 16px;
        }

        &__separator {
          width: 1px;
          height: 120px;
          background: $colorGreenPastel;

          @media screen and (max-width: $tabletBreakPoint) {
            height: 1px;
            width: 100%;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.access {
  padding-block: 80px;
  padding-inline: 20px;
  background: $colorGreenPastelLight;

  @media screen and (max-width: $tabletBreakPoint) {
    padding-block: 40px;
  }

  &__inner {
    width: 100%;
    max-width: 960px;
    margin-inline: auto;

    .section-title {
      margin-top: 40px;
    }

    .access__copy {
      margin-top: 16px;
      font-size: 18px;
      text-align: center;

      @media screen and (max-width: $tabletBreakPoint) {
        font-size: 16px;
      }
    }

    .access__every-shop {
      margin-top: 40px;
      border: 1px solid $colorGreenPastel;
      border-radius: 12px;
      overflow: hidden;
      background: white;

      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @media screen and (max-width: $tabletBreakPoint) {
          flex-direction: column-reverse;
          gap: 20px;
        }

        &__text {
          width: 100%;
          padding-inline: 24px;

          @media screen and (max-width: $tabletBreakPoint) {
            padding-inline: 12px;
          }

          &__title {
            font-size: 24px;
            font-weight: 600;
            color: $colorGreenPastel;
          }

          &__details {
            margin-top: 16px;
            display: flex;
            align-items: start;
            gap: 8px;

            @media screen and (max-width: $tabletBreakPoint) {
              margin-top: 8px;
            }

            .material-symbols-outlined {
              transform: translateY(4px);
              color: $colorGreenPastel;
            }
          }

          &__separator {
            margin-top: 16px;
            width: 80%;
            height: 1px;
            background: $colorGreenPastel;
            opacity: 0.3;
          }

          &__walking-time {
            margin-top: 16px;
          }
        }

        &__image {
          width: 100%;
          aspect-ratio: 5/3;
          min-width: 400px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &__bottom {
        width: 100%;
        height: 360px;
        overflow: hidden;

        @media screen and (max-width: $tabletBreakPoint) {
          margin-top: 20px;
          height: auto;
          aspect-ratio: 1/1;
        }

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
